// buttonstyle styles
button-overlay-color = #fff
overlay-border-radius = 12px

transition-duration = 0.3s

//-############################################################
.click-button
    cursor: pointer
    position:relative
    top:0
    left:0
    display:inline-block


.click-button::after
    content:""
    width:100%
    height:100%
    position:absolute
    top:0
    left:0
    border-radius:overlay-border-radius
    display:inline-block
    transform: scaleX(1.2) scaleY(1.2)
    opacity:0
    transition: opacity transition-duration, transform transition-duration 
    background: button-overlay-color

.click-button:active::after
    transform: scaleX(0.0) scaleY(0.0)
    opacity: 0.8
    transition opacity 0s, transform 0s


.click-button:disabled
    color: #888
    background-color: #eee
    filter grayscale(100%)
.click-button:disabled::after
    display: none